.detail__container {
  position: relative;
  min-height: calc(100vh-250px);
  overflow-x: hidden;
  display: block;
  top: 72px;
  padding: 0 calc(3.5vw + 5px);
}
.Background {
  left: 0px;
  opacity: 0.8;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.Background img{
    width: 100vw;
    height: 100vh;
}
@media (max-width: 768px) {
    .Background img{
        width: initial;
    }
}
.ImageTitle{
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px auto;
    height: 30vw;
    min-height: 170px;
    padding-bottom: 24px;
    width: 100%;
}
.ImageTitle > img{
    max-width: 600px;
    min-width: 200px;
    width: 35vw;
}
.contentMeta{
    max-width: 874px;
}
.detail__controls{
    align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 24px 0px;
  min-height: 56px;
}
.Player{
    font-size: 15px;
    margin: 0px 22px 0px 0px;
    padding: 0px 24px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgb (249, 249, 249);
    border: none;
    color: rgb(0, 0, 0); 
}
.Player:hover{
    background: rgb(198, 198, 198);
}
.Player > img{
    width: 32px;
}
@media (max-width: 768px) {
    .Player{
    height: 45px;
    padding: 0px 12px;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
    }
    .Player > img{
      width: 25px;
    }
}
.Trailer{
    font-size: 15px;
    margin: 0px 22px 0px 0px;
    padding: 0px 24px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
}
.AddList{
    margin-right: 16px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;  
}
.AddList > span {
    background-color: rgb(249, 249, 249);
    display: inline-block; 
}
.AddList > span:first-child{
    height: 2px;
      transform: translate(1px, 0px) rotate(0deg);
      width: 16px;
}
.AddList > span:nth-child(2){
    height: 16px;
    transform: translateX(-8px) rotate(0deg);
    width: 2px;
}
.GroupWatch{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
}
.GroupWatch2{
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}
.GroupWatch2 > img{
    width: 100%; 
}
.Subtitle{
    color: rgb(249, 249, 249);
    font-size: 15px;
    min-height: 20px; 
}
@media (max-width: 768px) {
    .Subtitle{
        font-size: 12px;
    }
}
.detail__Description{
   line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);  
}
@media (max-width: 768px) {
    .detail__Description{
        font-size: 14px;
    }
  }

.categories_container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:100vh;
}
